@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: "Josefin sans", sans-serif;
    font-size: 16px;


}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-transform: capitalize;

}

header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 180px;
    margin-left: 0em;
    margin-right: 2em;
}

.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigstion a {
    text-decoration: none;
    color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.4s ease;
}

.navigstion a:hover {
    color: darkorchid
}

section {
    padding: 60px 100px;


}

.ss {
    margin-left: 14.5em;
}

.aaa {
    width: 25em;
    height: 40em;
    transition: 0.5s ease;
    margin-top: 3em;
    margin-bottom: 3em;
    margin left: 2em;


}

.aaa:hover {
    color: #f0f0f0;
    transform: scale(1.1);
}

.aa {
    width: 25em;
    height: 40em;
    margin-right: 0em;
    transition: 0.5s ease;
    margin-top: 3em;
    margin-bottom: 3em;
}

.aa:hover {
    color: #f0f0f0;
    transform: scale(1.1);
}



.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #4545ffd0;

}

.main h2 {
    color: rgb(255, 255, 255);
}

.main h2 span {
    color: #001d40;
    font-size: 3em;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
}

.main h3 {
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: white;
    background-color: #001859;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #4545ffd0;
    transform: scale(1.1);
}

.social-icons a {
    color: white;
    font-size: 1.9em;
    padding-right: 30px;
    isolation: 0.4s;




}




.title {
    display: flex;
    justify-content: center;
    color: #4545ffd0;
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 35px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}



.card {
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /20%);
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    text-align: center;
    transition: 0.7s ease;

}

.card:hover {
    background-color: #c4cde5;
    transform: scale(1.1);

}

.icon {
    color: #4545ffd0;
    font-size: 8em;
    text-align: center;
}

.info h3 {
    color: #4545ffd0;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background-color: #000010f0;
}

.projects .content {
    margin-top: 30px;
}

.project-cerd {
    background-color: white;
    border: 1px solid rgb(121, 115, 115);
    min-height: 14em;
    width: 25em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;

}

.project-cerd:hover {
    transform: scale(1.1);
}

.project-cerd:hover .project-image {
    opacity: 0.9;
}

.project-image img {
    width: 100%;
    height: 25em;
}

.project-info {
    padding: 1.2em;
    text-align: right;

}

.project-category {
    font-size: 1em;
    color: #000;
    text-align: right;

}

.project-title {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 1.2em;
}

.more-detils {
    text-transform: uppercase;
    text-decoration: none;
    color: #4545ffd0;
    transition: 0.4s ease;
}

.more-detils:hover {
    color: #601cfc;
}

.content .icon {
    font-size: 4.5em;
}

.content .info h3 {
    color: #000;
}

.content .info p {
    font-size: 1.3em;
}

.footer {
    background-color: #000016;
    color: white;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
}

.footer-title {
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: 600;
}